// Specific CSS for your home-page
body {
  background: #929699;
}
.container {
  text-align: center;
}

.header {
font-weight: lighter;
color: #2b580c;
}


.show-link {
  text-decoration: none;
  color: black;
}

.show-link:hover {
  text-decoration: none;
  color: #2b580c;
}


.table-bordered{
  border: 2px solid white;
}

.dose-header{
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.destroy_dose {
  color: white;
}

.dose-header:hover{
  color: white;
}
.destroy_dose:hover {
  color: gold;
}
.form-black {
  color: black;
}

.table-head:hover {
  color: white;
}
