// Specific CSS for your home-page
body {
  background: #929699;
}
.container {
  text-align: center;
}

.header {
font-weight: lighter;
color: white;
}


.show-link {
  text-decoration: none;
  color: orange;
}

.show-link:hover {
  text-decoration: none;
  color: orange;
}


.table-bordered{
  border: 2px solid white;
}

.dose-header{
  color: orange;
  font-weight: bold;
  font-size: 20px;
}

.destroy_dose {
  color: white;
}

.form-black {
  color: white;
}


